@use "../../../styles/variables/index" as v;

.columnsWrapper {
  display: flex;
  flex-direction: column;
  flex: 1;
  background-color: white;
  border-radius: 8px;
  width: 300px;
  height: fit-content;
  gap: 8px;
  box-shadow: 0 0 5px
}
.color {
  height: 5px;
  width: 100%;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
.columnsHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 16px;
  h1 {
    color: darkgray;
  }
  .icon {
    color: darkgray;
    cursor: pointer;
  }
}

.cards {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 16px 16px;
}
