@use "../../styles/variables/index" as v;
.wrapper {
  background-color: v.$kanbanBoard-bg;
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  flex-wrap: nowrap;
  height: auto;
  padding: 30px 60px;
}

.formWrapper {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 40px 0 0 60px;
}

.form {
  display: flex;
  gap: 20px;
  h1 {
    font-weight: 200;
    color: lightgray;
  }
  input {
    border: none;
    border-bottom: 1px solid lightgray;
    background-color: v.$kanbanBoard-bg;
  }
  button {
    border: none;
    padding: 4px 16px;
    cursor: pointer;
    background-color: black;
    color: white;
    border-radius: 4px;
  }
}

.columnsWrapper {
  margin-top: 20px;
  display: flex;
  gap: 50px;
}
