@use "../../../../styles/variables/index" as v;
.cardWrapper {
  background-color: v.$card-bg;
  padding: 8px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
}
.titleOpen{
  display: flex;
}
.titleClose {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin-right: 4px;
}

.iconClose{
  transform: rotate(-90deg);
  transition: transform 300ms ease;
}
.bodyOpen {
  display: grid;
  grid-template-rows: 1fr;
  transition: grid-template-rows 300ms ease;
}
.cardHeader {
  display: flex;
  justify-content: space-between;
  width: 100%;
  border: none;
  cursor: pointer;
  div {
    color: v.$card-header;
    text-align: start;
  }
}
.cardContent {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 12px 0;
  p {
    font-size: 10px;
    color: v.$content-color;
    line-height: 12px;
  }
}

.body {
  display: grid;
  grid-template-rows: 0fr;
  transition: grid-template-rows 300ms ease;
}

.content {
  overflow: hidden;
}

.editions {
  font-size: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2px 16px;
  border-radius: 4px;
  background-color: v.$editions-bg;
  color: beige;
  font-weight: 100;
}

.cardFooter {
  display: flex;
  gap: 16px;
}

.pages,
.readTime {
  display: flex;
  align-items: center;
  font-size: 10px;
  gap: 4px;
  color: v.$content-color;
}
